:root {
  --haven-blue: #ADCCD4;
  --haven-purple: #8F559C;
  --haven-black: #2E2F30;
  --haven-white: #EDE8E6;
}

@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1..1000&display=swap');

body {
  font-family: "Ysabeau SC", sans-serif;
  font-style: normal;
  background: var(--haven-white);
}

nav {
  background: var(--haven-white);
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 45px;
}

nav a {
  font-size: 20px;
  color: var(--haven-black);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.shopbtn {
  border-radius: 12px;
  background: var(--haven-blue);
  padding: 14px 24px;

  &:hover {
    background: var(--haven-purple);
    text-decoration: none;
    color: var(--haven-white);
  }
}